<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>My Day</h1>
      <p>All my tasks in one place</p>
      <input
        class="new-todo"
        placeholder="Type new todo"
        autofocus
        type="text"
        (keydown.enter)="changeHandler()"
        [formControl]="newTaskCrtl"
      />
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section *ngIf="tasks.length > 0" class="main">
      <ul class="todo-list">
        <li
          *ngFor="let task of tasks; let i = index"
          (dblclick)="updateTaskEditingMode(i)"
          [class.editing]="task.editing"
          [class.completed]="task.completed"
        >
          <div class="view">
            <input
              class="toggle"
              type="checkbox"
              [checked]="task.completed"
              (change)="updateTask(i)"
            />
            <label>{{ task.title }}</label>
            <button class="destroy" (click)="deleteTask(task.id)"></button>
          </div>
          <input
            class="edit"
            [value]="task.title"
            (keydown.enter)="updateTaskText(i, $event)"
            (keydown.esc)="updateTaskEditingMode(i)"
          />
        </li>

        <!-- <li class="completed">
          <div class="view">
            <input class="toggle" type="checkbox" checked />
            <label>Learn JavaScript</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Learn JavaScript" />
        </li>
        <li>
          <div class="view">
            <input class="toggle" type="checkbox" />
            <label>Buy a unicorn</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Buy a unicorn" />
        </li>
        <li class="editing">
          <div class="view">
            <input class="toggle" type="checkbox" />
            <label>Make dishes</label>
            <button class="destroy"></button>
          </div>
          <input class="edit" value="Make dishes" />
        </li> -->
      </ul>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <footer *ngIf="tasks.length > 0" class="footer">
      <!-- This should be `0 items left` by default -->
      <span class="todo-count"
        ><strong>{{ totalTasksPending() }} </strong>
        <strong *ngIf="tasks.length === 1">item left</strong>
        <strong *ngIf="tasks.length > 1">items left</strong>
      </span>
      <!-- Remove this if you don't implement routing -->
      <ul class="filters">
        <li>
          <a
            routerLink="/"
            routerLinkActive="selected"
            [routerLinkActiveOptions]="{ exact: true }"
            
            >All</a
          >
          <!-- <a routerLink="/" [queryParams]="{}" (click)="changeFilter('all')" [class.selected]="filter=='all'" routerLink="/" >All</a> -->
        </li>
        <li>
          <a routerLink="/pending" routerLinkActive="selected" >Pending</a>
        </li>
        <li>
          <a routerLink="/completed" routerLinkActive="selected">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button
        *ngIf="detectTasksCompleted()"
        class="clear-completed"
        (click)="clearCompletedTasks()"
      >
        Clear completed
      </button>
    </footer>
  </div>
</section>
